/* +цвет текста при наведении и части лого #2196F3; */
/* +цвет текста заголовков #212121; */
/* цвет текста героя и части лого в футере #FFFFFF; */
/* +цвет  основного текста #757575; */
/* цвет лого Studio в хедере #000000;*/
/* цвет текста телефона и мыла в футере rgba(255, 255, 255, 0.6); */
/* +хедер и двух секций background: #FFFFFF; */
/* наша команда секция  background: #F5F4FA;*/
/* +секция герой и футер background: #2F303A; */
/* кнопки background #F5F4FA; */
/*телефон и адрес в футере rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-white-text-bg: #ffffff;
  --color-bg: #2f303a;
  --color-button-bg: #f5f4fa;
  --color-text-contacts-footer: rgba(255, 255, 255, 0.6);
  --color-text-logo: #000000;
}
body {
  color: var(--primary-text-color);
  background-color: var(--color-white-text-bg);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* Обнулення дефолтных значень */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Контейнер для сторінки */
.container {
 
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid green;
  outline-offset: -2px;
}
/* Шапка сайту */
.page-header {
  background-color: var(--color-white-text-bg);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 93px;

  color: var(--color-text-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color {
  color: var(--accent-color);
}

.site-nav {
  display:flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contact-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Герой */
.hero {
  background-color: var(--color-bg);
    text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--color-white-text-bg);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--color-white-text-bg);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

/* Загальне для секцій */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding: 50px;

}

/* Переваги */
.advantage .title {
  margin-bottom: 10px;
  width: 270px;
  
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage .text {
  line-height: 1.71;
  width: 270px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Наша команда */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-page {
  background-color: var(--color-button-bg);
  margin-top: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
 

}

/* Меін сторінки Портфоліо */
.buttons-menu .button {
  max-width: 130px;
  min-width: 0;
  border-radius: 4px;
  min-height: 38px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--color-button-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.buttons-menu .button:hover,
.buttons-menu .button:focus {
  color: var(--color-white-text-bg);
  background-color: var(--accent-color);
}
.portfolio .link-portfolio {
  text-decoration: none;
}
.portfolio .title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Футер   */

.footer {
  background-color: var(--color-bg);
}

.logo-footer {
  color: var(--color-white-text-bg);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.list .address:hover,
.list .address:focus,
.list-contact:hover,
.list-contact:focus {
  color: var(--accent-color);
}

.list .address {
  color: var(--color-white-text-bg);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}
.list-contact {
  color: var(--color-text-contacts-footer);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}
